body {
    background-color: #444444;
    width: 80%;
    height: 100%;
    margin-bottom: 50px;
    margin-left: 10%;
}

h1 {
    color: #0044ff;
    font-size: 46px;
    text-align: center;
}

h2 {
    color: #ffffff;
    text-align: center;
}

h3 {
    color: #ffffff;
    text-align: center;
}
h4 {
    color: #ffffff;
    text-align: center;
}
h5 {
    color: #ffffff;
    text-align: center;
}
p {
    color: #ffffff;
    text-align: center;
}
li {
    color: #ffffff;
    text-align: center;
}


/* Style buttons */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

a {
    color: #ffffff;
    text-decoration: none;
}

#links {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 80%;
    background-color: #0044ff;
    margin-bottom: 10px;
}

#links a {
    margin-right: 20px;
    margin-left: 20px;
}
